html, body { 
    height: 100%; 
} 
      
body { 
    margin: 0px; 
    padding: 0px; 
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Muli'; 
    font-size: 12pt; 
} 
          
h1, h2, h3 { 
    margin: 0; 
    padding: 0; 
    color: #404040; 
} 
      
p, ol, ul { 
    margin-top: 0; 
} 
  
p { 
    line-height: 180%; 
} 
  
ol, ul { 
    padding: 0; 
    list-style: none; 
} 
      
.container {     
    margin: 0px auto; 
    width: 1200px; 
} 

header { 
    overflow: hidden; 
} 

#logo { 
    margin-top: 90px; 
    padding: 20px; 
    text-align: center;
    position: fixed;
    left: 1100px;
    bottom: 690px;
} 
  
#logo img{ 
    width: 35%; 
    float: right; 
    padding: 10px 0px; 
    cursor: pointer;
}   

#logo img:hover { 
    opacity: 0.7;
}

#header-image-menu { 
    top: 10px; 
    position: relative; 
} 

#header-image-menu img { 
    width: 100%; 
    margin: none; 
    padding: none; 
} 

#image-text { 
    position: absolute; 
    top: 60%; 
    left: 60%; 
    font-family: 'Muli'; 
    color: #000; 
    transform: translate(-30%, -30%); 
    text-align: center; 
} 
  
#top-header {        
    text-align: center; 
    height: 60px; 
} 

nav {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: transparent;
    overflow-x: hidden;
    padding: 8px 0;
}
  
nav li a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    cursor: pointer;
}
  
nav li a:hover {
    opacity: 0.7;
}

#about-section .intro .hello {
    font-family: 'Heebo';
    color: white;
    font-size: 45px;
    margin-top: 90px; 
    padding: 20px; 
    text-align: center;
    position: fixed;
    left: 250px;
    bottom: 560px;
}

#about-section .intro .name {
    font-family: 'Heebo';
    color: black;
    font-size: 45px;
    margin-top: 90px; 
    padding: 20px; 
    text-align: center;
    position: fixed;
    left: 250px;
    bottom: 505px;
}

#about-section .intro .d1 {
    font-family: 'Muli';
    color: white;
    font-size: 20px;
    margin-top: 90px; 
    padding: 20px; 
    text-align: center;
    position: absolute;
    left: 250px;
    bottom: 455px;
}

#about-section .intro .d2 {
    font-family: 'Muli';
    color: white;
    font-size: 20px;
    margin-top: 90px; 
    padding: 20px; 
    text-align: center;
    position: absolute;
    left: 250px;
    bottom: 425px;
}

#about-section .intro .d3 {
    font-family: 'Muli';
    color: white;
    font-size: 20px;
    margin-top: 90px; 
    padding: 20px; 
    text-align: center;
    position: absolute;
    left: 250px;
    bottom: 395px;
}

#about-section .intro .d4 {
    font-family: 'Muli';
    color: white;
    font-size: 20px;
    margin-top: 90px; 
    padding: 20px; 
    text-align: center;
    position: absolute;
    left: 250px;
    bottom: 365px;
}

#about-section button {
    font-family: 'Heebo';
    font-size: 15px;
    margin-top: 90px; 
    padding: 15px 40px 15px 40px; 
    text-align: center;
    position: absolute;
    left: 272px;
    bottom: 310px;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    background-color: #0063FF;
    z-index: 9999;
}

#about-section button:hover {
    opacity: 0.7;
}

#about-section button {
    cursor: pointer;
}

#about-section .resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
      
}

#headshot img{ 
    width: 30%; 
    position: absolute;
    left: 800px;
    bottom: 290px;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
}  

.footer .title { 
    float:right;
    color: black;
    font-family: 'Heebo';
    font-size: 35px;
    margin-top: 20px; 
    padding: 20px; 
    text-align: center; 
    position: fixed;
    left: 1050px;
    bottom: 90px;
} 

.socialmedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 990px;
    bottom: 20px;
}
.fa {
    float: right;
    padding: 30px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 15px;
    border-radius: 50%;
  }
  
.fa:hover {
      opacity: 0.7;
}

.fa-facebook {
    background: lightgray;
    color: white;
}

.fa-linkedin {
    background: lightgray;
    color: white;
}

.fa-google {
    background: lightgray;
    color: white;
  }

.fa-skype {
    background: lightgray;
    color: white;
}

.footer {
    padding: 50px;
    justify-content: flex-end;
    position: fixed;
    left: 150px;
    bottom: 0;
    width: 100%;
    height: 200px;
    text-align: center;
}

.row #column1,  
.row #column2, 
.row #column3{ 
        float: left; 
        width: 320px; 
        padding: 80px 40px 80px 40px; 
} 

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
.close {
    cursor: pointer;
    color: lightgray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    opacity: 0.7;
    cursor: pointer;
}

#myModal .works { 
    color: black;
    font-size: 25px;
    text-align: center; 
    list-style: inside;
    margin-left: 250px;
    text-decoration: none;
} 

#myModal .works:hover {
    opacity: 0.7;
}

#intro-translations {    
    overflow: hidden; 
    width: 1000px; 
    margin: 0px auto; 
} 
          
#intro-translations .title { 
    float: left;
    font-family: 'Heebo';
    color: black;
    font-size: 55px;
    padding: 20px; 
    text-align: left; 
} 
          
#intro-translations p { 
    position: fixed;
    float: left;
    font-family: 'Muli';
    color: white;
    font-size: 20px;
    margin-bottom: 40px; 
    text-align: left; 
    width: 700px;
    left: 240px;
    bottom: 400px;
} 
          
#list {
    position: fixed;
    z-index: 1;
    left: 240px;
    bottom: 250px;
    background: transparent;
    overflow-x: hidden;
}
  
#list li a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
    cursor: pointer;
}
  
#list li a:hover {
    opacity: 0.7;
}